{% extends 'base.html' %}
{% block content %}
  <h1>detail.html</h1>
  <a href="{% url 'reviews:update' review.pk%}" class='btn btn-success'>수정하기</a>
  <form action="{% url 'reviews:delete' review.pk %}" method='POST'>
    {% csrf_token %}
    <input type="submit" value='삭제' class='btn btn-danger'>
  </form>
  <div class="">
    {% if review.image.url %}
      <img src="{{ review.image.url }}" alt="{{review.image}}">
    {% endif %}
    <h3>
      {{ review.store_name }}
    </h3>

    <p>
      {{ review.store_address }}
    </p>
    <p>
      {{ review.phoneNumber }}
    </p>
    <p>
      {{ review.parking }}
    </p>
    <p>
      {{ review.price }}
    </p>
    <p>
      {{ review.time }}
    </p>
    <p>
      {{ review.breaktime }}
    </p>
    <p>
      {{ review.content }}
    </p>

  </div>
  <a href="{% url 'reviews:comment_create' review.pk %}">이 집 평가하자</a>

  <h2>맛 평가 리스트</h2>
  {% for comment in comments %}
  <p>맛 평가:{{ comment.grade }}점</p>
  <p>작성일:{{ comment.created_at }}</p>
  <p>추천:{{ comment.tag }}</p>
  {% if comment.image %}
      <img src="{{ comment.image.url }}" alt="{{comment.image}}" width='180px;'>
    {% endif %}
  
  {% endfor %}





{% endblock content %}