{% extends 'base.html' %}

{% block content %}
  <div id='banner' class="">
    <div style="width: 100%; height:500px; overflow: hidden;">
      <img style="width: 100%; height:800px; opacity: 0.5;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSnb3MBmsSCoTlppvYWKhTMdNQjh5l9dt8RuA&usqp=CAU">
    </div>

  </div>

  <div class="container" style="width: 1000px;">
    <div class="d-flex border border-1 rounded-5 flex-column mt-5 p-3" style="background-color: white;">
      <h4 class="px-3">
        모든 가게
      </h4>

      <hr>
      <div class="swiper-container" style="width: 900px;">
        <div class="swiper-wrapper">
          {% for review in reviews %}
            <a href="{% url 'reviews:detail' review.pk %}">
              <div class="card " style='width:15rem;border:none;'>
                {% if review.image %}
                  <img src="{{ review.image.url }}" alt="{{review.image}}" class='card-img-top img-fluid'>
                {% endif %}
                <div class="card-body">
                  {{review.store_name}}
                </div>
              </div>
            </a>
          {% endfor %}
        </div>
        <!-- 네비게이션 -->
        <div class="swiper-button-next"></div>
        <!-- 다음 버튼 (오른쪽에 있는 버튼) -->
        <div class="swiper-button-prev"></div>
        <!-- 이전 버튼 -->
      </div>
    </div>
  </div>

  <div class="container" style="width: 1000px;">
    <div class="d-flex border border-1 rounded-5 flex-column mt-5 p-3" style="background-color: white;">
      <h4 class="px-3">
        아침 메뉴 추천
      </h4>

      <hr>
      <div class="swiper-container" style="width: 900px;">
        <div class="swiper-wrapper">
          {% for tm in tag_morning %}
            <a href="{% url 'reviews:detail' tm.review.pk %}">
              <div class="card" style='width:15rem;border:none;'>
                {% if tm.review.image %}
                  <img src="{{ tm.review.image.url }}" alt="{{tm.review.image}}" class='card-img-top img-fluid'>
                {% endif %}
                <div class="card-body">
                  {{tm.review.store_name}}
                </div>
              </div>
            </a>
          {% endfor %}
        </div>
        <!-- 네비게이션 -->
        <div class="swiper-button-next"></div>
        <!-- 다음 버튼 (오른쪽에 있는 버튼) -->
        <div class="swiper-button-prev"></div>
        <!-- 이전 버튼 -->
      </div>
    </div>
  </div>
  <div class="container" style="width: 1000px;">
    <div class="d-flex border border-1 rounded-5 flex-column mt-5 p-3" style="background-color: white;">
      <h4 class="px-3">
        점심 메뉴 추천
      </h4>

      <hr>
      <div class="swiper-container" style="width: 900px;">
        <div class="swiper-wrapper">
          {% for tl in tag_lunch %}
            {% comment %} {% if tl.review not in list_reviews %} {% list_reviews.append(tl.review) %}  {% endcomment %}
            <a href="{% url 'reviews:detail' tl.review.pk %}">
              <div class="card" style='width:15rem;border:none;'>
                {% if tl.review.image %}
                  <img src="{{ tl.review.image.url }}" alt="{{tl.review.image}}" class='card-img-top img-fluid rounded'>
                {% endif %}
                <div class="card-body">
                  {{tl.review.store_name}}
                </div>
              </div>
            </a>
             {% comment %} {% endif %}  {% endcomment %}
          {% endfor %}
        </div>
        <!-- 네비게이션 -->
        <div class="swiper-button-next"></div>
        <!-- 다음 버튼 (오른쪽에 있는 버튼) -->
        <div class="swiper-button-prev"></div>
        <!-- 이전 버튼 -->
      </div>
    </div>
  </div>
  <div class="container" style="width: 1000px;">
    <div class="d-flex border border-1 rounded-5 flex-column mt-5 p-3" style="background-color: white;">
      <h4 class="px-3">
        저녁 메뉴 추천
      </h4>

      <hr>
      <div class="swiper-container" style="width: 900px;">
        <div class="swiper-wrapper">
          {% for td in tag_dinner %}
            <a href="{% url 'reviews:detail' td.review.pk %}">
              <div class="card" style='width:15rem;border:none;'>
                {% if td.review.image %}
                  <img src="{{ td.review.image.url }}" alt="{{td.review.image}}" class='card-img-top img-fluid'>
                {% endif %}
                <div class="card-body">
                  {{td.review.store_name}}
                </div>
              </div>
            </a>
          {% endfor %}
        </div>
        <!-- 네비게이션 -->
        <div class="swiper-button-next"></div>
        <!-- 다음 버튼 (오른쪽에 있는 버튼) -->
        <div class="swiper-button-prev"></div>
        <!-- 이전 버튼 -->
      </div>
    </div>
  </div>
  <div class="container" style="width: 1000px;">
    <div class="d-flex border border-1 rounded-5 flex-column mt-5 p-3" style="background-color: white;">
      <h4 class="px-3">
        야식 메뉴 추천
      </h4>

      <hr>
      <div class="swiper-container" style="width: 900px;">
        <div class="swiper-wrapper">
          {% for tms in tag_midnight_snack %}
            <a href="{% url 'reviews:detail' tms.review.pk %}">
              <div class="card" style='width:15rem;border:none;'>
                {% if tms.review.image %}
                  <img src="{{ tms.review.image.url }}" alt="{{tms.review.image}}" class='card-img-top img-fluid'>
                {% endif %}
                <div class="card-body">
                  {{tms.review.store_name}}
                </div>
              </div>
            </a>
          {% endfor %}
        </div>
        <!-- 네비게이션 -->
        <div class="swiper-button-next"></div>
        <!-- 다음 버튼 (오른쪽에 있는 버튼) -->
        <div class="swiper-button-prev"></div>
        <!-- 이전 버튼 -->
      </div>
    </div>
  </div>

{% endblock %}

{% block script %}
  <script>
    new Swiper('.swiper-container', {

      slidesPerView: 3, // 동시에 보여줄 슬라이드 갯수
      spaceBetween: 30, // 슬라이드간 간격
      slidesPerGroup: 3, // 그룹으로 묶을 수, slidesPerView 와 같은 값을 지정하는게 좋음

      // 그룹수가 맞지 않을 경우 빈칸으로 메우기
      // 3개가 나와야 되는데 1개만 있다면 2개는 빈칸으로 채워서 3개를 만듬
      loopFillGroupWithBlank: true,

      loop: true, // 무한 반복

      pagination: { // 페이징
        el: '.swiper-pagination',
        clickable: true, // 페이징을 클릭하면 해당 영역으로 이동, 필요시 지정해 줘야 기능 작동
      },
      navigation: { // 네비게이션
        nextEl: '.swiper-button-next', // 다음 버튼 클래스명
        prevEl: '.swiper-button-prev', // 이번 버튼 클래스명
      }
    });
  </script>
{% endblock script%}