{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% bootstrap_javascript %}
{% block content %}

  <div class="container d-flex flex-column align-items-center">
    <div class="border border-1 rounded-5 p-5" style="background-color: white; width: 1000px;">
      <div class="d-flex border border-1 flex-row" style="background-color: white;">
        <div class="col-2 p-2 d-flex justify-content-center"> 
          <div class="border rounded-circle" style="width:100px; height: 100px; overflow: hidden;">
            <img style="width:100%;" src="https://mblogthumb-phinf.pstatic.net/MjAyMDA3MDlfMjIy/MDAxNTk0MzA0OTQyNjI4.CM6nRmdmRDX7BDq1VeVlz33DEk6xc09eJ_Vd4R-_1XEg.SVGH5Ndb90HG0KfccHZxuWRyP1lv9ubcoCp61LefzKEg.JPEG.mo_omj/IMG_2814.jpg?type=w800"> 
          </div>
        </div>
        <div class="col-8 p-4 ">
          <p>{{person.username}}</p>
          <span id="followers-count">{{ person.followers.all|length }}</span>&nbsp;<b>팔로워</b> &nbsp;
          <span id="followings-count">{{ person.followings.all|length }}</span>&nbsp;<b>팔로잉</b>
        </div>
        <div class="col-2 d-flex p-3 justify-content-center align-items-center">
          <div class="mx-3">
            {% if request.user != person %}
            <form id="follow-form" data-user-id= "{{person.pk}}">
              {% csrf_token %}
              {% if request.user in person.followers.all %}
              <input class="btn btn-danger" type="submit" value="언팔로우">
              {% else %}
              <input class="btn btn-primary" type="submit" value="팔로우">
              {% endif %}
            </form>
            {% endif %}
          </div>
        </div>



      </div>
      <div class="d-flex border border-1 rounded-5 flex-column mt-5 p-3" style="background-color: whitesmoke;"> 
        <h4> 리뷰한 가게들 </h4>
        <hr>
        <div class="d-flex flex-row justify-content-between">
          <div class="card" style="width: 12rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">밥집</p>
            </div>
          </div>
          <div class="card" style="width: 12rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">밥집</p>
            </div>
          </div>
          <div class="card" style="width: 12rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">밥집</p>
            </div>
          </div>
          <div class="card" style="width: 12rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">밥집</p>
            </div>
          </div>
        </div>

      </div>
      
      <div class="d-flex flex-row justify-content-between">
        <div class="d-flex border border-1 rounded-5 flex-column mt-5 p-3" style="background-color: whitesmoke; width: 48%;"> 
          <h4> 팔로잉 </h4>
          <hr>
          <div class="my-2"> 
            <p class="my-1">팔로잉 목록</p>
            {% for fw in person.followings.all %}
            {{ fw.username }}
            {% endfor %}
          </div>
        
        </div>
        <div class="d-flex border border-1 rounded-5 flex-column mt-5 p-3" style="background-color: whitesmoke; width: 48%;"> 
          <h4> 팔로워 </h4>
          <hr>
        </div>
      </div>

    </div>
  

    <div class="mx-3">
      <div>

      </div>

    </div>

  </div>
{% endblock content %}

{% block script %}

<script>
  const form = document.querySelector('#follow-form')
  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value

  form.addEventListener('submit', function (event) {
    event.preventDefault()
    const userId = event.target.dataset.userId

    axios({
      method: 'post',
      url: `/accounts/${userId}/follow/`,
      headers: {'X-CSRFToken': csrftoken,}
    })

    .then((response) => {
      const isFollowed = response.data.is_followed
      const followBtn = document.querySelector('#follow-form > input[type=submit]')
      if (isFollowed === true) {
        followBtn.value = '언팔로우'
        followBtn.classList.add('btn-danger')
        followBtn.classList.remove('btn-primary')
      } else {
        followBtn.value = '팔로우'
        followBtn.classList.add('btn-primary')
        followBtn.classList.remove('btn-danger')
      }
      const followersCountTag = document.querySelector('#followers-count')
      const followingsCountTag = document.querySelector('#followings-count')
      const followersCount = response.data.followers_count
      const followingsCount = response.data.followings_count
      followersCountTag.innerText = followersCount
      followingsCountTag.innerText = followingsCount
    })

  })
</script>
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
<script>

    
</script>
{% endblock script %}

<!--  안되는 코드
<script>
  const form = document.querySelector('#follow-form')
  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value

  form.addEventListener('submit',function(event) {
    event.preventDefault()
    const userID = event.target.dataset.userID
    axios({
      method: 'post',
      url: `/accounts/${userID}/follow/`,
      headers: {'X-CSRFToKen': csrftoken,}

    })
    .then((response) => {
      const isFollowed = response.data.is_followed
      const followBtn = document.querySelector('#follow-form > input[type=submit]')
      if (isFollowed === true) {
      followBtn.value = '언팔로우'
      } else {
      followBtn.value = '팔로우'
      }
      const followersCountTag = document.querySelector('#followers-count')
      const followingsCountTag = document.querySelector('#followings-count')
      const followersCount = response.data.followers_count
      const followingsCount = response.data.followings_count
      followersCountTag.innerText = followersCount
      followingsCountTag.innerText = followingsCount

    })
    .catch((error) => {
      console.log(error.response)
    })
  })

</script> -->
